.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}